.app__main{
  display:flex;
  justify-content: center;
  background-color: lightgrey;
  height: 100vh;
  width: 100vw;
}

.app__body{
    width: 85%;
    height: 90%;
    margin: 20px;
    position: fixed;
    box-shadow:0 0 8px 5px darkgrey;
    display:flex;
}